@media (max-width: 576px) {
    .main
    {
    background-color: blue;
    flex-wrap: wrap;
    }
    .box{
        width: 100%; 
    }
}
@media (min-width: 577px) and (max-width: 700px)
{
    .main{
    background-color: green;
    flex-wrap: wrap;
    }
    .box{
        width: 50%;
    }
}
@media (min-width: 701px) and (max-width: 1000px)
{
    .main{
        background-color: yellow;
        flex-wrap: wrap;
    }
    .box{
            width: 50%;
    }
}
@media (min-width: 1001px) and (max-width: 1010px)
{
  .main{
        background-color: rgb(0, 140, 255);
        flex-wrap: wrap;
    }
    .box{
            width: 50%;
    }
}
