@media  (max-width: 576px)
{
    .image-box
    {
    flex-wrap: nowrap;
    width: 100%;
    }
    .box{
        width: 100%; 
    }
    
  
}
@media (min-width: 768px) and (max-width:767.98px)
{
    .image-box{
        flex-wrap: nowrap;
        width: 100%;
    }
    .box{
        width: 100%;
    }

  
}
@media (min-width: 992px) and (max-width: 991.98px)
{
  .image-box{
        flex-wrap: nowrap;
        width: 100%;
    }
    .box{
            width: 100%;
    }
    .container-fluid{
        width: 100%;
    }
}
@media (min-width: 1200px) and (max-width: 1199.98px)
{ 

      .image-box{
        flex-wrap: nowrap;
        width: 100%;
    }
    .box{
        width: 100%;
    }
    .container-fluid{
        width: 100%;
    }
}
@media (min-width: 1400px) and (max-width: 1399.98px) {

    .image-box{
        flex-wrap: nowrap;
        width: 100%;
    }
    .box{
        width: 100%;
    }
    .container-fluid{
        width:  100%;
    }
}
 
