ul{
    position: relative;
}
ul li{
/* width: 100%;
height: 100px; */
list-style: none;
float: left;
}
ul li a{
    text-decoration: none;
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    display: block;
    margin: 5px;
}
.box{
    width: 100%;
    height: 100px;
    position: absolute;
}
.megamenu{
    width: 100px;
    height: 100px;
    display: none;
}