*{
    margin: 0;
    padding: 0;
    
}
.bgcolor{
   
    /* border: 1px solid rgb(98, 0, 128) !important; */
}
.color{
    color: rgb(255, 255, 255) !important;  
    border: 1px solid rgb(102, 15, 153) !important; 
    background-color: rgb(71, 34, 134) !important;  
}

