*{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 100%;
    height: 500px;
    background-color: aqua;
    position: relative;
     transition: 2s;    
}
.minibox{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position: absolute;  
     transition: 2s; 
    animation: night 20s ease-in-out 1s infinite  forwards;
}
@keyframes night{
    0%{
        left: 0%;
    }
    25%{
        left: calc(100% - 100px);
        background-color: pink;
        top: 0%;
    }
    50%{
        left: calc(100% - 100px);
        top: 400px;
        background-color: rgb(249, 255, 192);
    }
    75%{
        left: calc(100% - 100px);
        left: -00px;
        background-color: rgb(255, 81, 0);
        bottom: 0px;
    }
    100%{
        bottom: 400px;
        background-color: pink;
        transform: rotate(-5000deg);
    }
}
.minibox img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
