
.w100{
    width: 100%;
    height: 65px;
    background-color: rgb(18, 41, 115);
}

.flex{
    display: flex;
    height: 65px;
    flex-direction: row; 
    /* row-gap: 50px; */
    justify-content: space-evenly;
}

.w26{
    width: 150%;
    background-color: rgb(18, 41, 115);
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 18px;
    margin-left: -25px;
    gap: 8px;
    align-items: center;
  
}
.w27{
    width: 100%;
    background-color: rgb(18, 41, 115);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.flex2{
    width: 100%;
    background-color: rgb(18, 41, 115);
    color: rgb(255, 255, 255);
    display: flex;
    gap: 5px;
    font-size: 19px;
    /* margin-left: 50px; */
    justify-content: right;
    align-items: center;
}
.height{
    height: 100%;
}
.centainer{
    width: 99%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5px;
}
.icon{
    width: 235px;
    height: 100%;   
    margin-left: 87px;
}
*{
    margin: 0px;
    padding: 0px;
}
ul{
    background-color: rgb(255, 255, 255);
    position: relative;
}
ul li{
    list-style: none;
    float: left;
    margin: -1px;   
   
}
ul li a{
    width: 80%;
    height: 30px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: block;
    padding-left: 10px;
    float: none;
    padding-top: 20px;
}
.box{
    margin-right: 60px;
}
.mainbox{
    width: 100%;
    height: 100px;
}
.Company{
    width: 128%;
    height: 410px;
    background-color: rgb(255, 255, 255);
    display: none;
    margin: 5px;
    position: absolute;
    margin-top: 15px;  
    margin-left: -262px;
    padding-top: 15px;
    
}
.Megamenu{

    width: 29%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: -28px;
    padding-left: 10px;
    margin-left: -30px;
}
.Megamenu ul{

}
ul li:hover .Company{
    display: block;
}
.Megamenu ul li{
width: 100%;
height: 28px;

}
.Megamenu ul li a{
    background-color :rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 10px 6px;
    float: none;
}
.Megamenu ul li a i{
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
}
.Megamenu h3{
    color: black;
    margin-bottom: 15px;
    margin-right: -35px;
    
}
ul li:hover .Megamenu{
    display: block;
}
.Company2{
    width: 15%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    display: none;
    position: absolute;
    margin-left: 10px;
    margin-top: -2px;
    margin-right: 10px;
    padding-left: 10px;
   
}
.Megamenu1{
    width: 145%;
    height: 130px;
    background-color: rgb(255, 255, 255);
    float: left;
    padding: 5px;
    margin-left: -30px; 
    padding-right: 10px;
}
.Megamenu1 li a{
    width: 80%;
    height: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: block;
    padding-left: 10px;
    float: none;
    padding-top: 20px;
}
.move{
     width: 80%;
    height: 30px;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: block;
    float: none;
}
ul li:hover .Company2{      
    display: block;
}
.image{
    margin-top: 10px;
}
.containor1{
    width: 100%;
    height: 1000px;
    background-color: brown;
    margin-top: 10px;
}
.Megamenu2{
    width: 110%;
    height: 105px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-left: -5px; 
}
.h2{
    width: 50%;
    height: 100px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-left: 44%;
    margin-top: -10%;
    
}
.h3{
    width: 50%;
    height: 100px;
    color: rgb(4, 4, 4);
    margin-left: 38%;
    padding-top: 45%;
   
}
.w1000{
    width: 100%;
    
    background-color: rgb(255, 255, 255);
}
.flex1{
    display: flex;
    height: 410px;
    gap: 20px;
    justify-content: space-evenly;
}
.w255{
	width: 115%;
}   
.box1{
    background-color: rgb(0, 13, 255);
    border-radius: 30px;
    overflow: hidden;
    height: 360px;
    
}
.btn{
    width: 90px;
    height: 20px;
    position: absolute; 
    line-height: 20px;
    padding: 10px 20px;
    background-color: rgb(4, 0, 255);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    margin: 15%;
    margin-top: -2px;
}
.write{
    margin: 10px;
    color: white;
}

.date{
    
    color: #fff;
   
}
.rank{
    
}
.rank i {
    color: #ffc600;
    font-size: 16px;
    line-height: normal;
    width:10px;
    line-height: 25px;
    margin-left: 5%;
    margin-top: 27px;
}
.view{
    text-align: center;
    border: 1px solid #ffc600;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #ffc600;
    
}
.note{
width:100%;
height: 100px;
justify-content: right;

}
.shortnote{
width: 900px;
height: 100px;
justify-content: right;
background-color: aqua; 
}
.image1{
width: 100%;
height: 100px;
margin-right: 20px;
}
.ponit{
    float: left;
}

.about{
width: 90%;
margin:60px auto;
display: flex;
justify-content: space-between;
}
.note-box{
position: relative;
}

.image-box{
 
 width: 550px;
 height: 300px;
}
.image-box img{
 border-radius: 20px;
}
.since{
    font-size: 70px;
    color: blue;
    font-weight: 800;
}
.year{
    position: absolute;
    right: 100px;
    font-size: 80px;
}
.right{
flex: 1;
}
.small-title{
 display: flex;
 align-items: center;
 gap: 10px;
}
.line{
    width: 20px;
    height: 2px;
    background-color: #ffd400;
}
.right h2{
    margin: 15px 0; 
    font-size:48px;
    font-weight: 700;
    color: #222;
}
.right p{
    color:#777;
    line-height:1.8;
    font-size:18px;
}
.development{
    border: 1px solid orange;
    width: 125px;
    color: white;
    height: 33px;
    line-height: 33px;
    background-color: orange;
    margin-top: 20px;
    padding-left: 40px;
}
.design{
    border: 1px solid orange;
    width: 100px;
    color: white;
    height: 33px;
    line-height: 33px;
    background-color: orange;
    margin-top: -35px;
    margin-left: 30%;
    padding-left: 40px;
}
.happy{
    border: 1px solid orange;
    width: 170px;
    height: 100px;
    margin-top: 15px;
    padding-left: 30px;
    border-radius: 10px;
}
.happy p{
    line-height: 33px; 
    width: 160px;
}
.aboutcdmi{
width: 67%;
margin:10px 0px;
display: flex;
justify-content: space-between;
}
.pin{
    margin-left:45px;
}
.pin2{
    margin-left:45px;
}
.title{
    width: 100%;
    height: 100PX;
    float: none;
}
.main-box{
width: 100%;
height: 915px;
background-color: rgb(212, 204, 193);
}

.h1{
    width: 100%;
    text-align: center;
   
}
.write1{
    width: 265px;

}
.mini-box{
    width: 350px;
    height: 337px;
    align-items: center;
    margin-left: 55px;
    border-radius: 10px;
    background-color: antiquewhite;
    justify-content: space-evenly;
    display: flex;  
    float:left;
    margin-top: 42px;
}
.mini-box img{
    margin-left: 75px;

    border-radius: 70px;
}
.write1{
    margin-left: 5%;
    text-align: center;
}
.main-title{
    width: 245px;
    height: 100px;
    font-size: 20px;
}
.write1 p {
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border-color: orange;
    margin-top: -60px;
    margin-left: -10px
}
.flex4{
    display: flex;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    
    justify-content: center;
    flex-direction: row;
}
.end{
width: 100%;
height: 600px;
}
.title1{
   width: 260px;
   height: 500px; 
}
.flex5{
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 55px;
    overflow: hidden;
    float:left;
  
    justify-content: center;
    flex-direction: row;
}
.big-title{
 width: 100%;
 height: 100px;
 text-align: center;
}
p1 i{
    color: #f0c20a;   
}
.image-box1{
    width: 150px;
    height: 76px;
}
.image-box1 img{
    width: 150px;
    height: 75px;
    border: 1px solid #bebdbd;
    border-radius: 0px;
    display: flex;
    justify-content: center;
}
.small-box{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.end-title{
    width: 100%;
    height: 240px;
    display: flex;
   justify-content: left;
}
.mini-title{
    width: 33%;
    height: 45px;
    display: flex;
    justify-content: center;
    font-size: 11px;
}

.name{
    width: 100%;
    height: 23px;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    margin-left: -5%;
}
.inside-box{
    width: 100%;
    height: 240px;
    
}
.course-name{
    width: 25%;
    /* height: 20px;   */
    display: flex;
    justify-content: center;
    color: #5e5c5c;
    border: 1px solid #c9c6c6;
}
.course-name1{
    width: 12%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}
.course-name2{
    width: 21%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}
.course-name3{
    width: 15%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}
.height1{
    height: 16px;
}
.name1{
    width: 100%;
    height: 23px;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    margin-left: -12%;
}
.course-name4{
    width: 21%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}
.course-name5{
    width: 13%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}
.course-name6{
    width: 13%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}
.course-name7{
    width: 12%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}
.name2{
      width: 100%;
    height: 23px;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    margin-left: -38px;
}
.course-name8{
    width: 20%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}
.course-name9{
    width: 19%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}

.course-name10{
    width: 15%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}
.course-name11{
    width: 23%;
    /* height: 20px;   */
    display: flex;
    color: #5e5c5c;
    justify-content: center;
    border: 1px solid #c9c6c6;
}
.about-detail{
    width: 100%;
    height: 500px;
    background-color: rgb(0, 43, 92);
}
.frontend{
    width: 97%;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 22%;
    height: 55px;
    display: flex;
    justify-content: center;
}
.creative{
    width: 104%;
    height: 100px;
    display: flex;
    justify-content: center;
    color: white;
}
.a{
    width: 67%;
    height: 200px;
    font-size: 17px;
}
.follow{
    width: 96%;
    height: 40px;
    display: flex;
    justify-content: center;
  
}
.follow h1{
    width: 65%;
    height: 100px;
    color: rgb(248, 184, 9);
    font-size: 20px;
}
.font{
    width: 77%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.font i{
    width: 8%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(58, 58, 211);
    border-radius: 5px;
}
.front{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.middel{
    width: 218%;
    height: 78px;
    display: flex;
    font-size: 11px;
    justify-content: center;
    align-items: end;
    color: white;
}
.middel-box{
    width: 80%;
    height: 20px;
    justify-content: center;
    align-items: center;
} 
.main-detail{
    width: 218%;
    height: 190px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 12px;
    flex-wrap: wrap;
}
.large-box{
    width: 230%;
    height: 100px;
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: -213px;
    
}
.ContactUs{
    width: 390px;
    height: 100px;
    color: white;
   
}
.Head{
    width: 390px;
    height: 100px;
    color: #f0c20a;
}
.address{
    width: 390px;
    height: 100px;
    color: white;
}
.number{
    width: 390px;
    height: 100px;
    color: #f0c20a;
}
.branches{
    width: 390px;
    height: 100px;
    color: #f0c20a;
}
.bank{
    width: 34%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.outrow{
    width: 100%;
    height: 100px;
    background-color: rgb(5, 30, 60);
    color: white;
    display: flex;  
    justify-content: left;
    align-items: center;
    
    font-size: 15px;
}
.outrow p{
    width: 100%;
    height: 100px;
    background-color: rgb(5, 30, 60);
    color: white;
    display: flex;  
    justify-content: left;
    align-items: center;
    font-size: 15px;
    gap: 5px;
}
.outrow p i{
    width: 6%;
    height: 100px;
    background-color: rgb(5, 30, 60);
    color: white;
    display: flex;  
    justify-content: right;
    align-items: center;
    font-size: 12px;
}