.card-body{
    
}
.card{ 
    background-color: black !important; 
    color: white !important; 
}
.title{
    font-size: 40px !important;
    font-weight: 800 !important;
    height: 100px !important;  
    width: 600px !important;
}
.a{
    height: 30px !important;
    
}
.me-md-2{
    border-radius: 30px !important;
    margin-bottom: 100px !important;
    width:  160px !important;
    height: 50px !important;
}
.card-title{
    width:  250px !important;
    height: 65px !important;
    font-weight: 500 !important;
    font-size: 25px !important;   
}
.card-text{
    width: 370px !important;
    height: 115px !important; 
    color: rgb(168, 162, 162) !important;
}   
.card-body{ 
    height: 350px !important;
}
.border{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50px !important;
    border-color: rgb(63, 62, 62) !important;
    transition: 3s !important;
}
.gap{
    width: 230px !important;
    transition: 3s !important;
}
.explore{
    width: 90% !important;
    height: 245px !important;
    margin-top: -18% !important;
    gap: 80px !important;
}
.list-group-item{
    color:rgb(168, 162, 162)!important;
    transition: 0.5s;
}
.mb-3{
    height: 180px !important;
}   
.card-body1{
    height: 140px !important;
}
.list-group{    
    list-style: none !important;
    transition: 3s;
}
.list-group-item1{
    height: 40px !important;
}
.card-footer{
    border-color: rgb(63, 62, 62) !important;
}
.footer{
    height: 150px !important;  
}
.h6{
    font-size: 12px !important;
}
.list-group-item:hover{
    color: orangered !important;
    transform: translateX(5px);
}
.btn-primary{
    transition: 0.5s !important;
}
.btn-primary:hover{
    background-color: orangered !important;
}
.card-text1{
    color: rgb(168, 162, 162) !important;
}