*{
    margin: 0px;
    padding: 0px;
}
.w100{
    width: 100%;
    height: 500px;
    background-color: darkturquoise;
}
.w25{
    width: 10%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}   
.flex{
    display: flex;
    height: 500px;

    flex-direction: column-reverse;
    flex-direction: column;

    flex-wrap: wrap;
    /* column-gap: 15px; */
    /* row-gap: 10px; */
    gap: 15px;
    justify-content: center;


    justify-content: space-between; 
    JUSTIFY-CONTENT: space-around;
    JUSTIFY-CONTENT: space-evenly;

    JUSTIFY-CONTENT: center;
    /* JUSTIFY-CONTENT: flex-start; */
    /* JUSTIFY-CONTENT: flex-end; */
    /* JUSTIFY-CONTENT: end; */
    /* justify-content: right; */
    align-content: center;
}
.height{
    height: 400px;
}