*{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 100%;
    height: 60px;
    background-color: rgb(75, 157, 240);    
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p{
    width: 460px;
    height: 53px;
    font-style: oblique;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.5));
    text-shadow:2px 3px 2px rgb(43, 41, 41);
}
.games{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini-box{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    display: flex;
    justify-content:  center;
    align-items: center;
}
.mini-box img{
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.title{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}