*{
    margin: 0px;
    padding: 0px;
}
.image-box{
    width: 100%;
    height: 900px;
    background-color: aqua;
    background-image: url(../../media/showcase-7.webp);
    background-size: 100% 100%;
    z-index: 1;
    position: relative;
}
.image-box::before{
    content: "";
    width: 100%;
    height: 900px;
    background-color: rgba(2, 141, 196, 0.466);
    z-index: -1;
    position: absolute;
}
.box{
    width: 100%;
    height: 60px;
}
.box-1{
    height: 130px;
}
.a{
 width: 140px;
}
.btn{
    width: 130px;
}
.navbar{
    width: 91%;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.card2{
    width: 88% !important;

}
.card-subtitle{
    width: 670px;
    font-size: 60px !important;
}
.card-title{
    width: 270px;
    height: 29px;
}
.s{
    width: 150px;
    height: 50px;
}
.w{
    width: 18%;
    height: 50px;
}
.container-fluid{
    width: 100%;
}
.box{
    width: 100%;
    height: 576px;
}
.box-1{
     width: 100%;
    height: 530px;
}