body{
    align-items: center;
    display: flex;
    justify-content: center;
}
h1{
    width: 500px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
}
.box{
   
    width: 360px;
    height: 365px;
    background-color: rgb(1, 6, 255);
    border-radius: 20px;
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 30px;
}
.image{
    align-items: right;
    display: flex;
    justify-content: right;
    width: 360px;
    height: 210px;
}
.write h3{
    color: white;
    margin-left: 20px;
}
h4{
    margin-left: 30px;
    margin-top: 20px; 
}
td{
    margin-right: 20px;
}
.btn{
    position: absolute;
    top: 298px;
    left: 255px;
    padding: 10px 20px;
    background-color: rgb(232, 231, 233);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn1{
    position: absolute;
    top: 298px;
    left: 650px;
    padding: 10px 20px;
    background-color: rgb(232, 231, 233);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.btn2{
    position: absolute;
    top: 298px;
    left: 1040px;
    padding: 10px 20px;
    background-color: rgb(232, 231, 233);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.btn3{
    position: absolute;
    top: 695px;
    left: 255px;
    padding: 10px 20px;
    background-color: rgb(232, 231, 233);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.btn4{
    position: absolute;
    top: 690px;
    left: 650px;
    padding: 10px 20px;
    background-color: rgb(232, 231, 233);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.btn5{
    position: absolute;
    top: 690px;
    left: 1040px;
    padding: 10px 20px;
    background-color: rgb(232, 231, 233);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.creative-course{
    position: absolute;
    top: 20px;
    left: 830px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.table{
    position: absolute;
    top: 190px;
    left: 330px;
}