h1{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 20px 20px 20px 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.box{
   
    width: 300px;
    height: 400px;
    background-color: rgb(1, 6, 255);
    border-radius: 20px;
    overflow: hidden;
}
.write h3{
    color: white;
}
.button{
    margin-right: 20px;
}